.chat-history {
    overflow-y: scroll !important;
    overflow-x: auto;
    height: 70vh;
}

.chat-history::-webkit-scrollbar {
    width: 5px;
    border-radius: 2.5px;
  }
   
  .chat-history::-webkit-scrollbar-thumb {
    background: rgb(161, 161, 161); 
  }